.container-fluid{
    height: 1000px;
    width: 100%;
    background-color: #e9e6e6;
}

.head {
    height: auto;
    background-color: #003247;
    overflow: hidden;
    border-bottom: 5px solid #2f5767;
}

.nav-bar{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    list-style: none;
    width: 50%;
    justify-content: center ;
}

.nav-items a {
    display: block;
    text-align: center;
    padding: 1.5em;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 10px;
    transition-duration: 0.5s;
}

.nav-items a:hover {
    color:#2f5767;
}

.nav-items-main a {
    display: block;
    text-align: center;
    padding: 1.5em;
    border-bottom: solid white;
    font-size: 15px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 10px;
    transition-duration: 0.5s;
}

.nav-items-main a:hover {
    color: white;
    border-bottom: solid white;
}

.nav-logo a {
    position: relative;
    top: 15px;
    padding-left: 500px;
}

img {
    height: 40px;
}

.home-body {
    padding: 2em;
}

form, label, input, select{
    padding: 0.5em;    
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifS;
    font-weight: 200;
    font-size: 20px;
    color: #003247;
}

form, label, select{
    text-align: left;
}

form {
    background-color: #e9e6e6;
    padding-bottom: 50px;
}

.body {
    height: auto;
    background-color: #e9e6e6;
}

.view {
    padding: 1em;
}

.view-list {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    row-gap: 20px;

}

.view-title a{
    display: block;
    padding: 1.4em;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    color: gray;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 10px;
    transition-duration: 0.5s;
}

.view-title a:hover {
    color: #2f5767;
}

.view-title-main a:hover {
    color: #003247;
}

.view-title-main a{
    display: block;
    padding: 1em;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #003247;
    font-weight: 700;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 10px;
    transition-duration: 0.5s;
    border-bottom: solid #003247;
}

.add-title {
    padding: 1em;
    font-size: 30px;
    text-align: center;
    color: #003247;
    font-weight: 500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input[type=text] , input[type=number]{
    width: 300px;
}

input[type=submit]{
    background-color: #e9e6e6;
    border-radius: 3px;
    border: 2px solid #2f5767;
    color: #2f5767;
    padding: 5px 25px;
    text-align: center;
    transition-duration: 0.5s;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input[type=submit]:hover{
    background-color: #2f5767;
    color: #e9e6e6;
}


tr {
    padding: 0.5em;    
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serifS;
    font-weight: 100;
    font-size: 15px;
    color: #003247;
    text-align: center;
}

